<header class="header">
  <div class="logo" onclick="handleLogoClick()" style="cursor: pointer;">
    <h1>ADOWES</h1>
    <p>Primeira Igreja Metodista Wesleyana em Jardim Primavera</p>
  </div>

  <div class="menu-toggle" onclick="toggleMenu()">☰</div>

  <nav class="buttons" id="navLinks">
    {% if user.is_authenticated %}
      {% if request.path != "/" %}
        <a href="/" class="btn">Voltar para Início</a>
      {% endif %}
      <a href="/logout" class="btn">Logout</a>
    {% else %}
      <a href="/login" class="btn">Login</a>
      <a href="{% url 'cadastro' %}" class="btn">Cadastro</a>
    {% endif %}
  </nav>
</header>